.select-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

p {
    font-family: 'Lato';
    font-weight: 600;
    padding-right: 10px;
    opacity: 60%;
}

input {
    margin-top: 15px;
    width: 100px;
    height: 20px;
}